 /* CSS property for navigation menu starts here*/
 .nav_menu {
    overflow: hidden;
    background-color: #333 ;
    border: 2px solid  #333 ;
    padding-left: 450px;
}
.nav_menu a {
    display: inline-block;
    color: white;
    font-size: 20;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav_menu a:hover {
    background-color: white;
    color: green;
}
 /* CSS property for navigation menu ends here */
form{
    width: 60%;
    margin: auto;
    border-bottom: 20ps;
}
input[type=text]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid yellow;
    width: 600px;
}
input[type=color]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid yellow;
    width: 600px;
    padding:10px;
}
input[type=submit]{
    background-color: yellow;
    border: 4px solid yellow;
    color: white;
    position: absolute;
    top: 80%;
    left: 70%;
}
label{
   display: inline-block;
   width: 120px;
}
input{
    display: inline-block;
}
textarea{
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid yellow;
    width: 600px;
}
li{
    color:black;
}
h2{
    color: red;
}
ul{
    display: inline-block;
    background-color: hsl(59, 96%, 54%);
    width: 46.7%;
    padding-bottom: 40px;
}
ol{
    display: inline-block;
    background-color: hsl(59, 96%, 54%);
    width: 46.7%;
    padding-bottom: 40px;
}
iframe{
    height: 100%;
     width: 100%;
}